@charset "UTF-8";

:root {
  --light-verde: #5ecfcc;
  --verde: #49a09d;
  --dark-verde: #2e6664;
  --lilas: #5f2c52;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--lilas);
  height: 100vh;
  width: 100vw;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
}

section#login {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  background-color: white;
  width: 300px;
  height: 575px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: width 0.2s, height 0.2s;
  transform: translate(-50%, -50%);
  transition-timing-function: ease;
}

section#login > div#imagem {
  display: block;
  background-color: var(--lilas);
  background-image: url("../imagens/pexels-matheus-souza-3693599.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 250px;
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

div#formulario {
  text-align: center;
  margin-bottom: 10px;
}

div#formulario > p {
  font-size: 1em;
}

form > div.campo {
  background-color: var(--lilas);
  display: block;
  width: 100%;
  height: 40px;
  border: 2px solid var(--lilas);
  border-radius: 8px;
  margin: 5px 0px;
}

div.campo > label {
  display: none;
}

div.campo > i {
  color: #ffffff;
  /* background-color: black; */
  font-size: 2em;
  width: 40px;
  padding: 5px;
}

div.campo > input {
  background-color: var(--light-verde);
  font-size: 1.1em;
  width: calc(100% - 45px);
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 5px;
  transform: translateY(-11px);
}

div.campo > input:focus-within {
  background-color: #ffffff;
  border: none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

form > input[type="submit"] {
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color: var(--verde);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form > input[type="submit"]:hover {
  background-color: var(--dark-verde);
}

form > a.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  padding-top: 7px;
  margin-top: 5px;
  color: var(--dark-verde);
  background-color: #ffffff;
  border: 1px solid var(--verde);
  border-radius: 5px;
  text-decoration: none;
}

form > a.botao:hover {
  background-color: var(--light-verde);
}

form > a.botao > i {
  border: none;
  padding: 0px;
  line-height: 50%;
  transform: translateY(7px);
}
